@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

body {
  padding: 30px;
  font: 14px 'Raleway', sans-serif;
  background-color: #f4f4f4;
}

h2 {
  margin:0 0 .5em 0;
  color: #000000;
}

a {
  color: #000000;
}

#wrapper {
  position:relative;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

#trains, #trainInfo {
  top:0; left:0; margin-bottom:25px;
  padding:15px;
  border:1px solid #CCC;
  background:rgba(80,120,255,0.05);
}

#trainInfo p {
  padding:15px;
  color: #2c3e50;
}

#trainInfo table {
  border-collapse:separate;
  border-spacing:1px;
  background:#CCC;
}
